:root{
    --color-white: white;
    --color-vino: rgb(33, 8, 8);
    --color-black: black
}

body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header{
    padding: 20px;
    background-color: rgb(33, 8, 8);
    color: white;
    font-size: larger;
}

h1{
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-size: 5rem;
  font-style: normal;
}



a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}

#hero{

    color: var(--color-white);
    padding: 20px;
    background-image: url(https://wallpapercave.com/wp/wp10392164.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    
}


#hero h2{
    text-align: center;
    align-content: center;
}

#events{

    text-align: center;
    padding: 20px;
    background-color: rgb(39, 37, 37);
    color: white;
    
}

table{
    margin-left: auto;
    margin-right: auto;
    
}

th{
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-vino)
    
}

td{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-black)
    
}



#about{
    padding: 20px;
    background-color: rgb(78, 72, 72);
    color: white;
    text-align: center;
}

#about img{
    border: solid var(--color-black);
    border-radius: 5px;
    width: 500px;
    height: 300px;
}

.origin{
    padding: 20px;
}
.origin h2{
    color: var(--color-black)
}

li{
    list-style: none;
    margin: 20px;
}

#multimedia img{
    width: 300px;
    border: solid white;
    border-radius: 5px;
}

#multimedia{
    color: var(--color-white);
    padding: 20px;
    background-color: rgb(21, 20, 20);
    text-align: center;
}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 30px;
}

footer{
    color: white;
    padding: 20px;
    background-color: var(--color-black);
    text-align: center;
}

a:hover{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(113, 61, 61)
}

@media(max-width: 600px){

    #about img{
        width: 300px;
        height: 200px;
    }
    
    #multimedia img{
        width: 100px;
    }

    .grid-layout{
       grid-template-columns: repeat(3,1fr) ;
       margin-left: -20px;
    
    }

    #hero{
        height: 250px;
    }

    a{
        font-size: 10px;
    }
    

    a:hover{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(113, 61, 61)
   }       

}